html{
background-color: burlywood;
}
img{
width: 500px;
align-content: center;
}
body {
 background-color: darkolivegreen;
 border: 3PX solid;
 border-style: dashed;
 width: 600px;
 margin: 25px AUTO;
 
 padding: 25px 150px 50px;
}
h1 {
    color: lawngreen;
    text-align: center;
    border-color: lime;
    border: 3px solid;
}
h2{
font-family: 'Times New Roman', Times, serif;
letter-spacing: 2px;
border-bottom: solid 3px;
}
.crimson{
color: crimson;
}
.blue {
color: blue;
}
.purple{
color: purple;
}



